pyrogram==2.0.35
beautifulsoup4==4.10.0
python-telegram-bot==13.7
requests==2.26.0
imdbpy
flask
aiohttp
pytz
hachoir
Pillow
humanize
aiofiles
dnspython
starlette~=0.20.0
uvicorn~=0.17.0
asyncio
typing
pyrogram==2.0.35
tgcrypto
motor==2.5.1
marshmallow==3.14.1
requests
bs4
pynewtonmath

