pyrogram==2.0.35
beautifulsoup4==4.10.0
python-telegram-bot==13.7
requests==2.26.0
flask
aiohttp
pytz
hachoir
Pillow
humanize
aiofiles
dnspython
starlette~=0.20.0
uvicorn~=0.17.0
asyncio
typing
tgcrypto
marshmallow==3.14.1
requests
bs4
pynewtonmath
python-dotenv==0.19.0
string-session==2.2.0
